<!DOCTYPE html>
<html lang="en">

<head>
    <title>WYD</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />


    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


    <script src="app.module.js"></script>
    <script src="/goal/GoalController.js"></script>
</head>

<body ng-app="wyd">
    <md-card flex-gt-sm="50" flex>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Goals">
                <div ng-controller="GoalController">
                    <md-toolbar layout="row" class="md-hue-2">
                        <div class="md-toolbar-tools">
                            <md-button ng-show="!onRootGoal()" ng-click="current = current.previous"><i class="fa fa-chevron-left"></i></md-button>
                            <span>{{current.name}} </span>
                            <span style="padding-left:15px" ng-show="current.weight || subgoalweight(current)">
                            {{current.weight}}
                            <span ng-show="subgoalweight(current)" class="subgoal-sum">+{{subgoalweight(current)}}</span>
                            <i class="fa fa-bolt"></i>
                            </span>
                        </div>
                    </md-toolbar>
                    <md-content>
                        <md-list style="padding-left:10px" flex>
                            <md-subheader class="md-no-sticky">
                                {{current.description}}
                            </md-subheader>
                            <md-divider></md-divider>
                            <div ng-repeat="goal in current.goals">
                                <!-- Image of goal type !-->
                                <!--<md-card-title>-->
                                <!--<div class="md-list-item-text" layout="column">-->
                                <span class="goal-weight" layout="row">                                        
                                    <h3>
                                        <md-checkbox style="padding-left:5px" ng-show="!goal.locked" class="md-secondary" ng-model="goal.completed"></md-checkbox>
                                        <md-button ng-click="expand(goal)">{{goal.name}}
                                            {{goal.weight}}
                                            <i style="padding-left:5px" class="fa fa-bolt"></i>
                                            <span ng-show="subgoalweight(goal)" class="subgoal-sum">+{{subgoalweight(goal)}}</span>
                                        </md-button>
                                    </h3>
                                </span>
                                <!--</md-card-title>    -->
                                <!--<md-card-content>-->
                                <h4>{{goal.description}}</h4>
                                <p ng-show="nextToDo(goal).name">Current step : {{nextToDo(goal).name}}</p>
                                <!--</div>-->
                                <!--</md-card-content>-->
                                <md-divider></md-divider>
                                <div>
                                    <!--<md-button ng-click="expand(goal)" style="padding-left:5px" class="md-button"><i class="fa fa-expand"></i></md-button>-->
                                    <md-button class="md-button" style="padding-left:5px"><i class="fa fa-pencil"></i></md-button>
                                    <md-divider></md-divider>
                                </div>
                            </div>
                        </md-list>
                        <h2 align="center" ng-show="!current.goals">There are no subgoals</h2>
                        <md-divider></md-divider>
                        <div layout-padding>

                            <form name="newGoalForm">
                                <div layout-gt-xs="row">
                                    <md-input-container flex-gt-sm>
                                        <label>Goal Name</label>
                                        <input ng-model="newGoal.name">
                                    </md-input-container>
                                    <md-input-container flex-gt-sm>
                                        <label>Goal Description</label>
                                        <input ng-model="newGoal.description">
                                    </md-input-container>
                                    <md-input-container flex-gt-sm>
                                        <label>Goal Weigth</label>
                                        <input ng-model="newGoal.weight">
                                    </md-input-container>
                                </div>
                                <div flex>
                                    <md-button layout-padding layout-fill ng-click="addGoal()">
                                        <i style="color:#CECECE" class="fa fa-plus fa-4x"></i>
                                    </md-button>
                                </div>
                            </form>
                        </div>
                    </md-content>
                </div>
            </md-tab>
            <md-tab label="Prompts">

            </md-tab>
            <md-tab label="WYD">

            </md-tab>
        </md-tabs>
    </md-card>
</body>

</html>